<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menu</title>
    <script src="/js/place_order.js" defer></script>

    <meta name="menu-data" content='<%- JSON.stringify(to_menu_page) %>'>
</head>
<body>
    <h1>Menu Page</h1>
    <hr>
    <div>
        <h3>Current User</h3>
        <p>name -> <%= to_menu_page.user.name %></p>
        <p>user_name -> <%= to_menu_page.user.user_name %></p>
        <p>role -> <%= to_menu_page.user.role %></p>
    </div>
    <hr>

    <table>
        <% for( let categories of to_menu_page.result2) { %>
            <th><%= categories.cat_name %></th>
            <% for( let items of to_menu_page.result ) { %>
                <% if (items.cat_id === categories.cat_id) { %>
                    <tr>
                        <td><%= items.item_name %></td>
                        <td><%= items.sub_cat %></td>
                        <td><%= items.cook_time_min %> minutes</td>
                        <td>Rs. <%= items.price %></td>
                        <td>
                            <% if (to_menu_page.user.role === "customer") { %>
                                <button class = "add-to-cart" id="<%= items.item_id %>">
                                    add to cart
                                </button>
                            <% } %>
                        </td>
                    </tr>
                <% } %>
            <% } %>
        <% } %>
    </table>

    <% if (to_menu_page.user.role === "admin") { %>
        <hr>
        <h3>Add item to the menu</h3>
        <form action="/api/item" method ="post">
            <label for="item_name">Item Name</label>
            <input type="text" name="item_name">

            <label for="price">Price</label>
            <input type="text" name="price">

            <label for="cat_id">Category</label>
            <select name="cat_id" id="">
                <option selected disabled></option>
                <% for( let items of to_menu_page.result2) { %>
                    <option value="<%= items.cat_id %>"><%= items.cat_name %></option>
                <% } %>
            </select>

            <label for="subcat">Sub-Category</label>
            <select name="subcat" id="">
                <option selected disabled></option>
                <option value="breakfast">Breakfast</option>
                <option value="lunch">Lunch</option>
                <option value="dinner">Dinner</option>
            </select>

            <label for="cook_time_min">Cook Time :</label>
            <input type="number" name="cook_time_min" min="0" max="120">
            <span>minutes</span>
            </br>
            <button type="submit">Submit</button>
        </form>

        <hr>
        <h3>Add Category to the menu</h3>
        <form action="/api/cat" method ="post">
            <label for="cat_name">Category Name</label>
            <input type="text" name="cat_name">

            <label for="cat_description">Category Description</label>
            <input type="text" name="cat_description">

            </br>
            <button type="submit">Submit</button>
        </form>
    <% } %>
    <hr>
    <button class="to_cart_button">To Cart</button>
    <hr>
    <form action="/api/user/logout" method="post">
        <button type="submit">Logout</button>
    </form>

</body>
</html>